<nav class="navbar navbar-expand-lg fixed-top" id="navbars">
  <div class="container-fluid">
    <img
      width="80px"
      src="assets/img/logo.png"
    />
    <span
      class="navbar-brand fw-bold companyTitle"
      routerLink=""
      id="companyTitle"
      >JEWERLY XXX</span
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-5 fw-bold">
        <li class="nav-item">
          <button
            class="btn fw-bold text-white"
            onclick="location.href='/home#mainBanner'"
            type="button"
            id="boton"
          >
            Home
          </button>
        </li>
        <li class="nav-item">
          <button
            class="btn fw-bold text-white"
            onclick="location.href='/home#exclusiveProducts'"
            type="button"
          >
          Exclusive
          </button>
        </li>
        <li class="nav-item">
          <button
            class="btn fw-bold text-white"
            onclick="location.href='/home#newColection'"
            type="button"
          >
            New colection
          </button>
        </li>

        <li class="nav-item ms-5">
          <button
            class="btn fw-bold text-white"
            style="background-color: var(--primary-color)"
            onclick="location.href='/home#footer'"
            type="button"
          >
            Contacto us
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
