<div class="container" id="newColection">
    <div class="col-md-12 text-center ">
        <h1 class="exclusive-products">
            New colection
        </h1>
    </div><br>

    <div class="card">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center">
                <div class="">
                    <h4 class="card-title text-center">
                        <strong>Pearl Drop Earrings</strong>
                    </h4>
                    <p class="card-text text-muted text-center">
                        These elegant earrings feature lustrous pearls suspended from delicate hooks. The classic design and high-quality craftsmanship make them a perfect accessory for weddings, formal events, or any special occasion.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-5  d-flex justify-content-center">
                <div >
                    <img src="assets/img/p4.png" alt="" class="card-image">
                </div>
                
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-5 d-flex justify-content-center">
                <div >
                    <img src="assets/img/p5.png" alt="" class="card-image">
                </div>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <div class="">
                    <h4 class="card-title text-center">
                        <strong>Pearl Drop Earrings</strong>
                    </h4>
                    <p class="card-text text-muted text-center">
                        These elegant earrings feature lustrous pearls suspended from delicate hooks. The classic design and high-quality craftsmanship make them a perfect accessory for weddings, formal events, or any special occasion.
                    </p>
                    <br />
                </div>
                
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center">
                <div class="">
                    <h4 class="card-title text-center">
                        <strong>Pearl Drop Earrings</strong>
                    </h4>
                    <p class="card-text text-muted text-center">
                        These elegant earrings feature lustrous pearls suspended from delicate hooks. The classic design and high-quality craftsmanship make them a perfect accessory for weddings, formal events, or any special occasion.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-5  d-flex justify-content-center">
                <div >
                    <img src="assets/img/p6.png" alt="" class="card-image">
                </div>
                
            </div>
        </div>
    </div>
    
</div>