<div class="banner" id="mainBanner">
    <div class="row d-flex align-items-center h-100 w-100">
      <div class="col-md-7 content-banner slide-in-top">
        <div class="content-banner-decorator">#1 on exclisive jewelry</div>
        <div class="content-banner-heading">
          Valuable,<br />
          shiny, <br />precious.
        </div>
        <div class="content-banner-body">
          With a focus on luxury and sophistication, our gold jewelry shop
          offers a shopping experience like no other.
        </div>
        <div class="mt-4">
          <button
            class="btn fw-bold text-white"
            style="background-color: var(--primary-color)"
            onclick="location.href='#footer'"
            type="button"
          >
            Discover more <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-5 content-image slide-in-bottom">
        <img
            src="assets/img/jewellery_banner.png"
            class="d-block w-100"
            alt="..."
        />
      </div>
    </div>
</div>
