@import "~bootstrap-icons/font/bootstrap-icons.css";

:root
{
    --primary-color:#daa520;
    --secondary-color:#100f13;
}
body
{
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
}